/analysis1.gexf
/API Slides.pdf
/API-2 Slides.pdf
/check.jpg
/corrected.jpg
/debug.log
/enhaced.jpg
/me.jpg
/route.csv
/test.png
# /Untitled.ipynb
/.ipynb_checkpoints
# /APIs
# /Case Study(Part - I)
# /Case Study(Part - II)
# /Classification Metrics
# /data
# /Decision Trees and its implementation and Random Forest
# /InstaBot - I
# /InstaBot - II
# /K-Nearest Neighbours
# /Logistic Regression
# /Naive Bayes
# /Natural Language Processing
# /Numpy Practice
# /Pandas Practice
# /Plotting Graphs practice
# /Principal Component Analysis (PCA)
/Project - Cifar 10
# /Project - Gradient Descent
# /Project - Logistic Regression
# /Project - Text Classification
# /Project - Twitter Sentiment Analysis
# /SQL
# /SQLite
# /Supervised Learning
# /Support Vector Machines(SVM)
# /Web Scrapping
# /Zomato API - II